/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-abr-2015, 15:02:58
    Author     : ffernandez
*/

.repo{
	width: 48%;
	margin: 0 1% 1% 0 !important;
	box-sizing: border-box;
	/* display: inline-block; */
	padding: 10px;
	border: 3px solid #444;
	float: left;
	min-height: 250px;
}

.clear{clear:both}