@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Signika');

*,*::before,*::after{
  padding:0;
  margin:0;
  box-sizing: border-box;
}


body{

  background:$bg;
  color:$primaryColor;
  height: 100vh;

}

.btn{
  &-home{
    background: $secondaryColor;
  }
}

a{
  text-decoration: none;
  color:inherit;
}

nav {

 font-family: 'Signika', cursive;
 width: 100%;
 background: #020f18;
 display: flex;

 outline: $secondaryColor 5px solid;
 outline-offset: 0px;
 transition: all 100ms ease-in-out;
 &:hover{
  outline-offset: 2px;
 }
 a{
    text-decoration: none;
    color:$primaryColor;
    padding:1em;
    transition:all 200ms;

    &:hover{

      color:$primaryColorHover;
    }
  }
}

.content{
  //background-image: url(https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?cs=srgb&dl=adult-book-business-297755.jpg&fm=jpg);
  //background-size: cover;
  //background-position: center center;
  background: $bg;
  height: 100%;
  width: 100%;
}

.section{
  padding:3em;
  color:$secondaryColor;
  &__home{
    font-family: 'Signika', cursive;
    height: 100%;width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    &-info{
      text-align: center;
      display: block;
    }

    &__social{

      width: 80%;
      padding: 0.5rem 0;
      list-style: none;
      display: flex;
      /* margin-top: 2rem; */
      justify-content: space-around;
      // background: #14232c0a;
      border-radius: 29px;
      margin: 2rem auto 0 auto;
      // box-shadow: #14232c2e 0px 0px 8px 0px;
      /*
      li{
        position: relative;
        &:hover::before{
          content: attr(data-text);
          font-size: 12px;
          padding: .5em;
          position: absolute;
          top:30px;left:-25px;
          margin:10px;
          color:white;
          &:hover{

          }
        }
      }
      */
      li{
        transition: all 200ms;
        a{
          display: flex;
        }
        &:hover{
          transform: scale(1.2)
        }

      }
      &-cp{
        cursor: pointer;
        &:hover{
          color:$codepen;
        }
      }
      &-fb{
        cursor: pointer;
        &:hover{
          color:$facebook;
        }
      }
      &-ig{
        cursor: pointer;
        &:hover{
          color:$instagram;
        }
      }
      &-gh{
        cursor: pointer;
        &:hover{
          color:$github;
        }
      }
      &-ln{
        cursor: pointer;
        &:hover{
          color:$linkedin;
        }
      }
    }
  }
  
  
  
}



@media only screen and (max-width: 600px) {
  .section__home {
    padding:2rem
  }

  .section__home__social{
    width: 100%;
  }

  .section__home-title{
    text-align:center
  }
}